.WeatherInfo h1 {
  color: rgb(39, 33, 66);
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  margin: 20px 0px 10px;
}
.WeatherInfo ul {
  margin: 0px;
  padding: 0px;
}
.WeatherInfo li {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 5px;
  list-style: none;
}
.WeatherInfo li strong {
  color: rgb(246, 82, 130);
  font-weight: 400;
}

.WeatherInfo .temperature-container {
  align-items: center;
  margin-top: 30px;
}

.WeatherInfo .temperature {
  color: rgb(33, 33, 33);
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  margin-left: 10px;
}

.WeatherInfo .weather-icon {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.WeatherInfo .unit {
  color: rgb(33, 33, 33);
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -34px;
}
.WeatherInfo footer {
  color: #27214266;
  font-size: 14px;
  line-height: 18px;
  margin-top: 40px;
  text-align: center;
}
